.testimonial-section {
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    
}


.testimonial-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    
}

.testimonial-slide {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    
}

.testimonial {
    min-width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 0.2);
}

.testimonial p {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.testimonial h4 {
    font-size: 16px;
    color: #333;
    font-weight: normal;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    font-size: 24px;
    background-color: transparent;
    border: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}